<!-- Header -->
  <header id="header">
    <a href="http://bancodealimentoscba.org.ar/" class="title">Banco de Alimentos</a>
    <nav>
      <ul>
        <li><a href="" data-ng-click="form()" class="active">Inscripción</a></li>
        <li><a href="http://bancodealimentoscba.org.ar/quienes-somos/">Quienes Somos</a></li>
        <li><a href="http://bancodealimentoscba.org.ar/contacto/">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <section id="main" class="wrapper">
          <div class="inner">
            <h1 class="major">Inscribí tu Organización en el Banco de Alimentos</h1>
            <span class="image fit landing"><img src="assets/images/bac.jpg" alt="" /></span>
            <p>
              La <b>Fundación Banco de Alimentos Córdoba</b> tiene como misión
              recuperar alimentos para evitar la pérdida y los desperdicios de
              los mismos.
            </p>
            <p>
              Si tenés una Organización que presta un servicio alimenticio con
              el objetivo de combatir el hambre, sumate a nuestra red de
              Organizaciones Beneficiarias.
            </p>
            <p>
              Completá el siguiente Formulario y nos estaremos comunicando con
              vos en un lapso no mayor a dos semanas.
            </p>
            <a data-ng-click="form()" class="button special">Inscribí tu Organización</a>
          </div>
        </section>

    </div>

  <!-- Footer -->
    <footer id="footer" class="wrapper alt">
      <div class="inner">
        <ul class="menu">
          <li>© Copyright 2016 - Banco de Alimentos Córdoba</li>
        </ul>
        <ul class="icons">
          <li><a href="https://twitter.com/BDACordoba" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/bancodealimentoscordoba" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.instagram.com/bancodealimentoscba/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="https://www.linkedin.com/in/fundaci%C3%B3n-banco-de-alimentos-c%C3%B3rdoba-a30848116?trk=hp-identity-name" class="icon fa-linkedin"><span class="label">Github</span></a></li>
        </ul>
      </div>
    </footer>
