<nav id="footer" class="inner navbar navbar-default navbar-fixed-bottom" role="navigation">
	<ul class="menu nav navbar-nav">
		<li class="active">
			© Copyright 2015 - Banco de Alimentos Córdoba
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right hidden-xs">
		<li>
			<a href="https://www.facebook.com/bancodealimentoscordoba" class="icon fa-facebook">
				<span class="label">
					Facebook
				</span>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/BDACordoba" class="icon fa-twitter">
				<span class="label">
					Twitter
				</span>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/bancodealimentoscba/" class="icon fa-instagram">
				<span class="label">
					Instagram
				</span>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.youtube.com/channel/UCOewSuAgri4vTywJ4EDs0yw" class="icon fa-youtube">
				<span class="label">
					Youtube
				</span>
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/fundaci%C3%B3n-banco-de-alimentos-c%C3%B3rdoba-a30848116?trk=hp-identity-name" class="icon fa-linkedin">
				<span class="label">
					LinkedIn
				</span>
			</a>
		</li>

	</ul>
</nav>