<footer id="footer" class="wrapper alt">
	<div class="inner">
		<ul class="menu">
			<li>
				© Copyright 2015 - Banco de Alimentos Córdoba
			</li>
		</ul>
		<ul class="icons">
			<li>
				<a href="https://twitter.com/BDACordoba" class="icon fa-twitter">
					<span class="label">
						Twitter
					</span>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/bancodealimentoscordoba" class="icon fa-facebook">
					<span class="label">
						Facebook
					</span>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/bancodealimentoscba/" class="icon fa-instagram">
					<span class="label">
						Instagram
					</span>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/fundaci%C3%B3n-banco-de-alimentos-c%C3%B3rdoba-a30848116?trk=hp-identity-name" class="icon fa-linkedin">
					<span class="label">
						LinkedIn
					</span>
				</a>
			</li>
		</ul>
	</div>
</footer>
