<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="nav navbar-nav">
            <li style="margin-top: 0px;">
                <a href="http://bancodealimentoscba.org.ar/" class="title">
                    <img src="assets/images/BAC-cintaHztal-1.png" alt="Fundación Banco de Alimentos de Córdoba" width="130" height="60">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="" data-ng-click="newOrganization()" class="active">
                    Inscripción
                </a>
            </li>
            <li>
                <a href="http://bancodealimentoscba.org.ar/quienes-somos/">
                    Quienes Somos
                </a>
            </li>
            <li>
                <a href="http://bancodealimentoscba.org.ar/contacto/">
                    Contacto
                </a>
            </li>
            <li>
                <headerlogin></headerlogin>
            </li>
        </ul>
    </nav>
</header>