<!-- Header -->
<header id="header">
  <a href="http://bancodealimentoscba.org.ar/" class="title">
    Banco de Alimentos
  </a>
  <nav>
    <ul>
      <li>
        <a class="active">
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>

<!-- Wrapper -->
<div id="wrapper">
  <!-- Main -->
  <section id="main" class="wrapper">
    <div class="inner">
      <section id="main" class="wrapper">
        <h2>Login</h2>
        <form data-ng-submit="login()">
          <div class="row uniform">
            <div class="6u$ 12u$(xsmall)">
              <input type="email" name="demo-email" ng-model="email" placeholder="Email" />
            </div>
            <div class="6u 12u$(xsmall)">
              <input type="password" name="demo-password" ng-model="password" placeholder="Password" />
            </div>
            <div class="12u$">
              <ul class="actions">
                <li><input type="submit" value="Login" class="special" /></li>
              </ul>
            </div>
          </div>
        </form>
      </section>
    </div>
  </section>
</div>

<!-- Footer -->
<footer id="footer" class="wrapper alt">
  <div class="inner">
    <ul class="menu">
      <li>© Copyright 2016 - Banco de Alimentos Córdoba</li>
    </ul>
    <ul class="icons">
      <li><a href="https://twitter.com/BDACordoba" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/bancodealimentoscordoba" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/bancodealimentoscba/" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://www.linkedin.com/in/fundaci%C3%B3n-banco-de-alimentos-c%C3%B3rdoba-a30848116?trk=hp-identity-name" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>
  </div>
</footer>
